/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.form-list {
    .fa {
        cursor: pointer;
    }
}
.formsModal .modal-dialog,.previewModal .modal-dialog {
    max-width: 75vw;
    max-height: 75vh;
}
.modal-content {
    height: 100%;
}
#previewModel{
    .modal-body{
        overflow-y:auto;
        max-height:75vh;
    }
}
#formsModel{
    .modal-body{
        overflow-y:auto;
        max-height:75vh;
    }
}
